.carousel-inner img{
    width:  100%;
    height: 550px;
  }
  
  .carousel-caption {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .carousel-caption h1{
    font-size: 500%;
    text-transform: uppercase;
    text-shadow: 1px 1px 10px #000;
  }
  
  .carousel-caption h3{
    font-size: 200%;
    font-weight: 500;
    text-shadow: 1px 1px 10px #000;
    padding-bottom: 1rem;
  }
  .btn-primary{
    background-color: #6648b1;
    border: 1px solid #6648b1;
  }
  .btn-primary:hover{
    background-color: #563d7c;
    border: 1px solid #563d7c;
  }

  div.row.hcome-rewards.mb-dog {
    margin-right: 0;
    margin-left: 0;
  }
  

 /*---Firefox Bug Fix --*/
.carousel-item {
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
  }

  /* separte points */
  #slides   .carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px 0px 0 20px;
    text-indent: -999px;
    cursor: pointer;
    border: 1px solid #fff;
    border-radius: 10px; 

  }

  #slides .carousel-indicators .active{
      background-color: white;
  }
 /* separte points */

 

 .hcom-rewards.row {
  padding-left: 16px;
  padding-right: 16px;
  }
  
  .row {
    /* max-width: 1260px; */
    margin-left: auto;
    margin-right: auto;
  }
  
  .mb-dog {
    margin-bottom: 32px;
  }
  
  .col-12 {
    max-width: 100%;
    overflow: hidden;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 20px;
  }
  
  .col-12 {
    grid-column: auto/span 12;
  }
   
    .loyalty-box.bg-curve {
      position: relative;
      overflow: hidden;
    }
    .loyalty-box {
      border-radius: 2px;
    }
  
    .loyalty-box {
      padding-top: 16px;
      padding-bottom: 16px;
      text-align: center;
      background-color: #7b1fa2;
      color: #ffffff;
      margin: 0px 40px 0px 40px;
    }
  
    .flexbox .loyalty-box .hr-resp-cont {
      display: flex;
    }
  
    .hr-resp-cont {
      padding-left: 16px;
      padding-right: 16px;
      position: relative;
  }
  
  .loyalty-box.bg-curve .hr-curve::before {
    right: 230px;
    transform: scale(10);
    left: auto;
    top: -90%;
  }
  
  .loyalty-box.bg-curve .hr-curve::before {
    font-size: 48px;
    line-height: 52px;
    font-family: "hcom-icons";
    font-weight: normal;
    /* content: ""; */
    color: rgba(255,255,255,0.08);
    position: absolute;
  }
  
  .loyalty-box .hr-resp-cont > .cont-bd {
    display: flex;
    flex-grow: 1;
  }
  
  .loyalty-box .hr-resp-cont .cont-bd .cont-left{
    display: block;
  }
  .loyalty-box .cont-bd .cont-left {
    vertical-align: middle;
  }
  
  .loyalty-box .hr-resp-cont .loyalty-card {
    border: 0;
    display: inline-block;
  }
  
  .loyalty-card {
    background-color: #faedfc;
    border-color: #7b1fa2;
    color: #7b1fa2;
    border: 1px solid;
    border-radius: 4px;
    font-size: 14px;
    line-height: 18px;
    font-weight: bold;
    overflow: hidden;
    width: 342px;
  }
  
  .punch-card {
    box-sizing: border-box;
    border-radius: 4px;
    padding: 12px;
    display: flex;
    flex-wrap: wrap;
  }
   .specialReward {
    background-color: red;
  }
  span.moon.specialReward {
    margin-left: 10px;
  
  
  }

  svg.bi.bi-moon {
    font-size: 15px;
  }
  /* .span.moon.specialReward {
    margin-left: 10x;
  } */
  
  .punch-card {
    width: 342px;
  }
  
  .punch-card .night-icons {
    display: inline-block;
    text-align: center;
    vertical-align: top;
  }
  .punch-card .night-icons {
    margin-bottom: -8px;
    width: 200px;
  }
  
  ol {
    list-style: none;
  }
  
  .punch-card .night-icon {
    float: left;
    display: block;
    font-weight: bold;
    position: relative;
  }
  .punch-card .night-icon {
    margin-bottom: 8px;
    margin-right: 8px;
    font-size: 16px;
    height: 32px;
    line-height: 32px;
    width: 32px;
  }
  
  ol {
    border: 0 ;
    margin: 0;
    padding: 0;
  }
  
  .punch-card .night-icon::before, .punch-card .night-icon::after {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "hcom-icons";
    font-weight: normal;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
  }
  
  .punch-card .night-icon::before, .punch-card .night-icon::after {
    font-size: 32px;
    line-height: 32px;
  }

  .loyalty-card .night-icon.empty::before {
    color: #aa2dd7;
  }
  .punch-card .night-icon::before, .punch-card .night-icon::after {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "hcom-icons";
    font-weight: normal;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
  }
  
  .loyalty-box .hr-resp-cont .cont-bd .cont-left {
    display: block;
  }
  
  /* right icons */
  .punch-card .night-summary {
    font-size: 14px;
    line-height: 18px;
    margin-top: 4px;
    margin-left: 18px;
    display: inline-block;
    position: relative;
    text-align: center;
    width: 48px;
  }
  
  .punch-card .night-summary::before {
      margin-right: 8px;
      top: 0;
      left: -8px;
      content: "=";
      font-weight: bold;
      position: absolute;
      line-height: 64px;
      font-size: 14px;
      text-align: center;
  }
  
  .punch-card .summary {
    color: #7b1fa2;
    margin-left: 8px;
    align-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: start;
    justify-items: right;
  
    font-size: 14px;
    line-height: 18px;
    text-align: center;
  }
  /* moon */
  .punch-card .summary .moon {
    font-size: 32px;
    line-height: 32px;
    padding: 0 14px;
    margin-left: 10px;
    display: block;
  }
  .punch-card .summary .moon::before {
    font-weight: normal;
  }
  .punch-card .summary .moon {
    font-size: 32px;
    line-height: 32px;
  }
  /* moon */
  /* right icons */

 
  .moonsAlign svg {
    float: left;
    display: block;
    font-weight: bold;
    position: relative;
    margin-bottom: 8px;
    margin-right: 8px;
    margin-left: 10px;
    font-size: 16px;
    height: 32px;
    line-height: 32px;
    width: 32px;
  }

  .loyalty-box .hr-resp-cont .cont-bd .cont-right {
    display: block; 
  }
  .loyalty-box .cont-right {
    margin-left: 12px;
    margin-top: 25px;
  }
  .message-box {  
    position: relative;
    text-align: left;
  }
  
  .loyalty-box .hr-resp-cont .message-box .main-message {
    margin: 0;
    font-size: 20px;
    line-height: 24px;
    font-weight: bold;
  }

  
  


  @media (max-width: 576px) {
    .carousel-inner img.mySlides {
      margin-left: 0rem;
      padding-right: 0rem;
      margin-left: 0px;
  }
    .carousel-inner img{
        width:  100%;
        height:20rem;
      }

      div.carousel-item.active {
        width: 100%;
      }

      /* img.mySlides {
     
      } */

    .carousel-caption h1 , .carousel-caption h3 , .carousel-caption .btn {
        display: none;
    }

     /* separte points */
    #slides   .carousel-indicators li {
        display: inline-block;
        width: 10px;
        height: 10px;
        margin: 1px 0px 0 1em;
        text-indent: -999px;
        cursor: pointer;
        border: 1px solid #fff;
        border-radius: 10px;
    }

    #slides .carousel-indicators .active{
        background-color: black
    }
     /* separte points */

     .loyalty-box .hr-resp-cont .cont-bd .cont-left{
      display: block;
      overflow: scroll;
    }
  }
 
  /*
  Extra small (xs) devices (portrait phones, less than 576px)
  No media query since this is the default in Bootstrap
  
  Small (sm) devices (landscape phones, 576px and up)
  @media (min-width: 576px) { ... }
  
  Medium (md) devices (tablets, 768px and up)
  @media (min-width: 768px) { ... }
  
  Large (lg) devices (desktops, 992px and up)
  @media (min-width: 992px) { ... }
  
  Extra (xl) large devices (large desktops, 1200px and up)
  @media (min-width: 1200px) { ... }
  */
  