body{
  background-image: url(../images/background.png);
  background-repeat: no-repeat;
  background-size: 1000rem;
  min-width: 1000px;
  font-family: "Source Sans Pro",Calibri,Candara,Arial,sans-serif;

}

ul.header {
  list-style-type: none;
  margin: -20px;
  width: 1548px;
  padding-right: -50px;
  overflow: hidden;
  background-color: rgb(52, 6, 78);
}

header ul li {
  float: right;
  font-size: 23px;
}

li a {
  display: block;
  color: white;
  text-align: center;
  /* padding: 42px 30px; */
  text-decoration: none;
}

.leftAlign nav img{
  background-color: rgb(52, 6, 78);
    padding-top: 9px;
    height: 112px;
    width: 250px;
    float:left;
}


* {
    box-sizing: border-box;
}
body{
  background-image: url(images/background.png);
  background-repeat: no-repeat;
  background-size: 1000rem;
  min-width: 1000px;

}

div {
  min-width: 500px;
}

/* Add padding to containers */
.container {
  padding: 16px;
  margin-left: 30%;
  margin-right: 30%;
}
h1,p{
    text-align: center;
}

#formItem label {
    display: block;
    /* text-align: left; */
    line-height: 150%;
    font-size: .98em;
}



/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: block;
  text-align: left;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.registerbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 2px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 30%;
  opacity: 0.9;
  margin-left: 38%;
}

.registerbtn:hover {
  opacity:1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}