body{
  background-image: url(images/background.png);
  background-repeat: no-repeat;
  background-size: 1000rem;
  /* min-width: 1000px; */
  font-family: "Source Sans Pro",Calibri,Candara,Arial,sans-serif;

}

/* @media screen and (max-width: 650){
  html{
    font-size: 16px;
  }
} */
/* 
.search{
border: 1px solid red;
margin-top: 100px;
width: 700px;
}

ul.header {
  list-style-type: none;
  margin: -20px;
  width: 99.2%;
  padding-right: -50px;
  overflow: hidden;
  background-color: rgb(52, 6, 78);
}

header ul li {
  float: right;
  font-size: 19px;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 42px 10px;
  text-decoration: none;
}


/* Change the link color to #111 (black) on hover */
li a:hover {
  /* width: 30px;
  height: 10px; */
  background-color: #777;
  transform: scale(1.1);
}

.leftAlign nav img{
  background-color: rgb(52, 6, 78);
    padding-top: 10px;
    height: 100px;
    width: 250px;
    float:left;
} */

/* footer doesn't move his elements in different resolutions */
ul.footer{
  list-style-type: none;
  position: relative;
  bottom: 0;
  margin: -20px;
  margin-top: 10px;
  padding-bottom: 10px;
  width: 99.2%;
  height: auto;
  padding-right: -50px;
  overflow: hidden;
  background-color: rgb(52, 6, 78);
}

footer ul li {
  float: left;
  font-size: 19px;
}


footer a:visited {
  /* color: blue; */
}

.hotelName{
  text-align: center;
  padding-top: 20px;
  text-decoration: underline;
}

.mySlides {
display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
height: 350px;
}
/* .w3-left, .w3-right, .w3-badge {
  position: absolute;
  margin-top: 300px;
  margin-left: 300px;
  top:10px;
  padding:5px 10px;
  font-size:20px;
} */
.w3-right{
position: absolute;
/* margin-top: 300px; */
margin-left: 76%;
top:300px;
padding:6px 10px;
font-size:20px;
cursor: pointer;
}
.w3-left{
position: absolute;
margin-top: 291px;
margin-left: 20%;
top:10px;
padding:5px 10px;
font-size:20px;
cursor: pointer;

}
.w3-badge {
position: relative;
background-color: whitesmoke;
border: 1px solid black;
cursor: pointer;
border-radius: 50%;
top:-30px;
font-size: 1px;
margin: -48%;
margin-left: 48%;
width:200px;
padding:10px;
}

.imageAdjust{
margin-top: 70px;
}

.hotelRewards{
border: 1px solid purple;
background-color: purple;
height: 130px;
width: 80%;
margin-left: 10%;
margin-top: 20px;
border-radius: 3px;
}

.hotelBorder1{
border: 1px solid black;
background-color: white;
height: 110px;
width: 420px;
margin-left: 2%;
margin-top: 10px;
border-radius: 3px;
}

/* inline box of nights */
.punch-card {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
border-radius: 4px;
display: flex;
flex-wrap: wrap;
}

.punch-card {
width: 282px;
height: 110px;
}

.punch-card .night-icons {

display: inline-block;
text-align: center;
vertical-align: top;
}
.punch-card .night-icons {
background-color: red;
text-align: left;
margin-left: 0px;
width: 210px;
height:110.5px;
margin-top: -0.5px;

}

/* .night-iconAdjust{
float: left;
display: block;
font-weight: bold;
position: relative;
}
.night-iconAdjust{
  margin-bottom: 8px;
  margin-right: 8px;
  font-size: 16px;
  height: 32px;
  line-height: 32px;
  width: 32px;
}
*/



/* .punch-card .night-icon.empty:before {
content: "";
} */
/* .loyalty-card .night-icon.empty:before {
color: #aa2dd7;
} */

/* .punch-card .night-icon:before, .punch-card .night-icon:after {
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
font-family: "hcom-icons";
font-weight: normal;
top: 0;
bottom: 0;
left: 0;
right: 0;
margin-top: 550px;
margin-left: -1100px;
position: absolute;
} */

.punch-card .night-icon:before, .punch-card .night-icon:after {
font-size: 40px;
line-height: 32px;
}

.punch-card .night-icon.empty:nth-child(1):after {
margin-left: -20px;
content: "1";
}
.punch-card .night-icon.empty:nth-child(2):after {
padding-left: 10px;
content: "2";
}
.punch-card .night-icon.empty:nth-child(3):after {
padding-left: 10px;
content: "3";
}
.punch-card .night-icon.empty:nth-child(4):after {
padding-left: 10px;
content: "4";
}
.punch-card .night-icon.empty:nth-child(5):after {
padding-left: 10px;
margin-right: 24px;
content: "5";
}
.punch-card .night-icon.empty:nth-child(6):after {
margin-right:25px;
margin-left: -20px;
content: "6";
}
.punch-card .night-icon.empty:nth-child(7):after {
margin-left: -15px;
padding-right:30px;
content: "7";
}
.punch-card .night-icon.empty:nth-child(8):after {
margin-left: -23px;
padding-right: 0px;
content: "8";
}
.punch-card .night-icon.empty:nth-child(9):after {
padding-left: 11px;
content: "9";
}
.punch-card .night-icon.empty:nth-child(10):after {
padding-left: 5px;
content: "10";
}

/* right side of rewards */
.cont-right {
display: block;

}
.loyalty-box .cont-bd .cont-left, .loyalty-box .cont-bd .cont-right {
vertical-align: middle;
}
.loyalty-box .cont-right {
  margin-left: 12px;
}

.loyalty-box {
padding-top: 20px;
padding-bottom: 20px;
border-radius: 0;
text-align: center;
position: relative;
}

.loyalty-box {
background-color: #7b1fa2;
color: #ffffff;
}

.message-box {
text-align: left;
margin-top: -115px;
margin-left: 430px;
font-size: 20px;

width: 500px;
color: white;
}
.message-box {
position: relative;

/* text-align: center; */
}

/*  moon */
.punch-card .night-summary {
font-size: 14px;
line-height: 18px;
margin-top: 4px;
margin-left: 8px;
display: inline-block;
position: relative;
text-align: center;

width: 48px;
}

.punch-card .night-summary:before {
margin-right: 8px;
font-size: 25px;

top: 15px;
left: 20px;
content: "=";
font-weight: bold;
position: absolute;
}
.punch-card .night-summary:before {
line-height: 64px;
}

.punch-card .summary {
color: #7b1fa2;
margin-left: 8px;
align-content: center;

align-items: center;
display: flex;
flex-wrap: wrap;
height: 100%;
justify-content: start;
justify-items: right;
}
.punch-card .night-summary {
font-size: 14px;
line-height: 18px;
margin-top: 4px;
margin-left: 8px;

display: inline-block;
position: relative;
text-align: center;
width: 48px;
}

.punch-card .summary .moon {
font-size: 32px;
line-height: 32px;

padding: 0 4px;
margin-left: 50px;
padding-left: 50px;
display: block;
}

.moon{
height: 80px;
width: 80px;
margin-top: -40px;
border-radius: 50%;
box-shadow: 15px 15px 0 0 black;
}

/* paragraph with info about the hotel */
.row {
padding-left: 16px;
padding-right: 16px;
grid-gap: 16px;
}

.row {
display: grid;
grid-gap: 8px;
grid-template-columns: repeat(12,1fr);
padding-left: 8px;
padding-right: 8px;
}

.row {
display: grid;
grid-gap: 8px;
grid-template-columns: repeat(12,1fr);
padding-left: 8px;
padding-right: 8px;
}

.col-12 {
max-width: 100%;
overflow: hidden;
}

.col-12 {
grid-column: auto/span 12;
}

.mh-bird--m {
margin-left: 16px;
margin-right: 16px;
}

.mh-mouse {
margin-left: 170px;
margin-right: 170px;
margin-top: 30px;
}

/* search button */

/* Style the search field */
form.example input[type=text] {
padding: 10px;
font-size: 17px;
margin-top: 35px;
/* margin-left: 20px; */
border: 1px solid grey;
width: 170px;
float: left;
background: #f1f1f1;
}

/* Style the submit button */
form.example button {
/* float: left; */
width: 12%;
padding: 10px;
margin-top: 35px;
padding-right: 30px;
background: #2196F3;
color: white;
font-size: 17px;
border: 1px solid grey;
border-left: none; /* Prevent double borders */
cursor: pointer;
}

form.example button:hover {
background: #0b7dda;
}

/* Clear floats */
form.example::after {
content: "";
clear: both;
display: table;

}

.underline 
{   
    /*text-decoration: underline;
    text-decoration-color: red;*/
    border-bottom: 3px solid orange;
    height: 73px;
}
/* login adjust */
.adjustLogin{
padding-right: 3px;
padding-left: 3;
}

/* copyright adjust */
.copyRightAlign{
  float: left;
  padding-left: 38%;
  padding-right: 30%;
  padding-top: 40px;
  color: rgba(255, 255, 255, 0.694);
}