@font-face {
  font-family: Lays;
  src: url(./restrictions/Lays-Bold.otf) format("truetype"),
       url(./restrictions/Lays-Medium.otf) format("truetype");
}


 body{
  margin:0;
  padding: 0;
  font-family: Lays;
}



.elementAlign{
  height: 50px;
  background:  red;
}

.nav-link{
  font-size: 19px;
}
.navbar-light .navbar-nav .active > .nav-link{
  color: rgb(255, 255, 255);
}


.adjustHeader a {
  color: white;
}
.logIn{
  color: white;
  font-size: 20px;
  float: right;
  padding: 10px 15px 0 0;
}

.headerElementAdjust{

}

 .adjustHeader{
   font-size: 20px;
  padding-top: 10px;
}

.logInAlign{
  float: right;
  font-size: 2rem;
  padding-top: 10px;
}

nav{
  width: 100%;
  background:rgb(213, 0, 0);

}

ul{
  width: 98%;
  margin:0 auto;
  padding:0;
}

ul li{
  list-style: none;
  display: inline-block;
  padding-left: 10px;
}

ul li:hover{
  background:rgb(173, 0, 0);
}



.logIn a{
  color: white;
}

.toggle{
  width: 100%;
  padding: 10px 20px;
  background:  red;
  text-align: left;
  box-sizing: border-box;
  color: #fff;
  font-size: 30px;
  display: none;
}
/* Image */
/* .carousel-inner img{
  width:  100%;
  height: 300px;
} */

.carousel-inner{
  position: relative ; width: 100%; height: 300px;
}

.mainWalkersLogo{
  width: 100%;
  height: 300px;
  position: absolute;
  z-index: 9;

}
.walkersLogo{
  position: relative;;
  width: 200px;
  height: 100px;
  position: absolute;
  z-index: 10;
  margin-left: 45%;
  margin-top: -10px;
  border-radius: 50%;
}



.carousel-caption {
  display: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.carousel-caption h1{
  font-size: 500%;
  text-transform: uppercase;
  text-shadow: 1px 1px 10px #000;
}

.carousel-caption h3{
  font-size: 200%;
  font-weight: 500;
  text-shadow: 1px 1px 10px #000;
  padding-bottom: 1rem;
}
/* Image */

/* register and login */
.regAndLogin{
  color: red;
  text-align: center;
  padding-top: 30px;
  text-transform: uppercase;
}

.underlineLogin  {
  text-decoration: underline;
}

h4{
  text-align: center;
  padding-top: 30px;
}
/* register and login */

/* User information */
input[type=text], form {
  width: 90%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border-radius: 1px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 35%;
  background-color: red;
  color: white;
  padding: 14px 20px;
  margin: 8px 0 0 10%;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-transform: uppercase;
}

.buttonHolder{
  text-align: center;
}

.container-aside{
  text-align: center;

}

.logAndRegisterBox{
  margin-right: 3%;
}

form{
  padding-left: 200px;
  text-align: left;
}

.leftAlignInfoForUser{
  padding-top: 12px;
  margin-bottom: -10px;
  text-align: left;
}


.requirements{
  text-align: left;
  padding-top: 15px;
  color: #777777;
}
/* User information */

/* Terms */
.acceptTerms{
  width: 80%;
  display: block;
}
.leftPadding{
  padding: 20px 0px 0px 50px;
}

input[type=checkbox] {
  width: 9mm;
  -webkit-appearance: button;
  height: 5mm;
  border: 0.7mm solid black;
}

/* Terms */


/* captcha */
 .captcha {
	background-color:#f9f9f9;
	border:2px solid #d3d3d3;
	border-radius:5px;
	color:#4c4a4b;
  display:block;
  width: 30%;
  height: 10%;
	justify-content:center;
	align-items:center;
}

.logo{
  display: inline-block;
}
.logo img {
	height:2em;
  width:2em;
  margin-left: 10px;
  margin-bottom: 10px;
  
}
.logo p {
	color:#9d9ba7;
	margin:0;
	font-size:1em;
	font-weight:700;
	margin:.4em 0 .2em 0;
}
.logo small {
	color:#9d9ba7;
	margin:0;
	font-size:.8em;
}

input[type="checkbox"]{
	width:2em;
	height:2em;
  background-color:green;
	border:2.5px solid green;
	border-radius:3px;
	justify-content:center;
	align-items:center;
	cursor: pointer;
}

input[type="checkbox"]+.checkmark>span:before {
	content:'';
	position:absolute;
	display:block;
	width:3px;
	bottom:0;right:0;
	background-color:#029f56;
}

input[type="checkbox"]+.checkmark>span:after {
	content:'';
	position:absolute;
	display:block;
	height:3px;
	bottom:0;left:0;
	background-color:#029f56;
}
/*
@media screen and (max-width: 500px) {
	.captcha {
		flex-direction:column;
	}
	.text {
		margin:.5em!important;
		text-align:center;
	}
	.logo {
		align-self: center!important;
	}
	.spinner {
		margin:2em .5em .5em .5em!important;
	}
}

.text {
	font-size:1.75em;
	font-weight:500;
	margin-right:1em;
}
.spinner {
	position:relative;
	width:2em;
	height:2em;
	display:flex;
	margin:2em 1em;
	align-items:center;
	justify-content:center;
}
input[type="checkbox"] { position: absolute; opacity: 0; z-index: -1; }
input[type="checkbox"]+.checkmark {
	display:inline-block;
	width:2em;
	height:2em;
	background-color:#fcfcfc;
	border:2.5px solid #c3c3c3;
	border-radius:3px;
	display:flex;
	justify-content:center;
	align-items:center;
	cursor: pointer;
}
input[type="checkbox"]+.checkmark span {
	content:'';
	position:relative;

	margin-top:-3px;
	transform:rotate(45deg);
	width:.75em;
	height:1.2em;
	opacity:0;
}
input[type="checkbox"]+.checkmark>span:after {
	content:'';
	position:absolute;
	display:block;
	height:3px;
	bottom:0;left:0;
	background-color:#029f56;
}
input[type="checkbox"]+.checkmark>span:before {
	content:'';
	position:absolute;
	display:block;
	width:3px;
	bottom:0;right:0;
	background-color:#029f56;
}
input[type="checkbox"]:checked+.checkmark { 
	animation:2s spin forwards;
}
input[type="checkbox"]:checked+.checkmark>span { 
	animation:1s fadein 1.9s forwards;
}
input[type="checkbox"]:checked+.checkmark>span:after {animation:.3s bottomslide 2s forwards;}
input[type="checkbox"]:checked+.checkmark>span:before {animation:.5s rightslide 2.2s forwards;}
@keyframes fadein {
	0% {opacity:0;}
	100% {opacity:1;}
}
@keyframes bottomslide {
	0% {width:0;}
	100% {width:100%;}
}
@keyframes rightslide {
	0% {height:0;}
	100% {height:100%;}
} */
/* .logo {
	display:flex;
	flex-direction:column;
	align-items:center;
	height:100%;
	align-self:flex-end;
	margin:0.5em 1em;
}
.logo img {
	height:2em;
	width:2em;
}
.logo p {
	color:#9d9ba7;
	margin:0;
	font-size:1em;
	font-weight:700;
	margin:.4em 0 .2em 0;
}
.logo small {
	color:#9d9ba7;
	margin:0;
	font-size:.8em;
} */
@keyframes spin {
	10% {
		width:0;
		height:0;
		border-width:6px;
	}
	30% {
		width:0;
		height:0;
		border-radius:50%;
		border-width:1em;
		transform: rotate(0deg);
		border-color:rgb(199,218,245);
	}
	50% {
		width:2em;
		height:2em;
		border-radius:50%;
		border-width:4px;
		border-color:rgb(199,218,245);
		border-right-color:rgb(89,152,239);
	}
	70% {
		border-width:4px;
		border-color:rgb(199,218,245);
		border-right-color:rgb(89,152,239);
	}
	90% {
		border-width:4px;
	}
	100% {
		width:2em;
		height:2em;
		border-radius:50%;
		transform: rotate(720deg);
		border-color:transparent;
	}
}
::selection {
	background-color:transparent;
	color:teal;
}
::-moz-selection {
	background-color:transparent;
	color:teal;
}
/* captcha */


footer{
  bottom:0;
  left: 0;
  right: 0;
  height:60px; 
  width: 100%;
  height: 250px;
  background-color: darkred;
}
 .padding{
  margin-bottom: 2rem;
}

.fa-facebook {
  color: rgb(255, 255, 255)
}
.fa-twitter{
  color: rgb(255, 255, 255)
}
.social{
  padding: 10px 30% 0 42% ;
}

.social a {
  
  font-size: 4.5em;
  padding: 3rem;
}
.fa-facebook:hover ,
.fa-twitter:hover {
  background-color: rgb(203, 0, 0)
}
/* footerImage */

/* footerTerms */
.footerTerms{
  text-align: center;
  /* text-decoration: underline; */
}
.footerTerms a{
  color: white;
  text-decoration: underline;
  margin:20px
}

.copyRight{
  color: white;
  text-align: center;
  margin:30px 0 0 0 ;
}
/* footerTerms */








@media (max-width: 992px) {


  /* Icons */
  input[type=submit] {
    width: 250px;
    background-color: red;
    color: white;
    padding: 14px 0px;
    margin: 8px 0 0 30px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-transform: uppercase;
  }

  /* footer */
  .social{ 
    padding: 0px 20% 10px 45%;
  }
  
  .social a {
    
    font-size: 4.5em;
    padding: 3rem;
  }
  /* Icons */
}


/* MEDIA tablet */
@media (max-width: 768px){

  .logIn{
    color: white;
    font-size: 15px;
    float: right;
    padding: 3px 15px 0 0;
  }


  .toggle{
    display: block;
  }
  .logInAlign{
    float: right;
    font-size: 2rem;
    padding-top: 10px;
    color: white;

  }

  .elementAlign{
    height: 180px;
    background:rgb(213, 0, 0);
  }

  .adjustHeader{
    font-size: 1.8rem;
  }

  ul{
    width: 100%;
    display: none;
    
  }

  ul li{
    display: block;
    text-align: center;
  }
/* 
  .active{
    display: block;
  } */
  
  .logIn{
    /* display: none; */
  }


  /* user Information */
  input[type=text], form {
    width: 100%;
    /* padding: 20px 100px; */
    margin: 0px 0;
    display: inline-block;
    border-radius: 1px;
    box-sizing: border-box;
  }
/*   
  input[type=submit] {
    width: 50%;
    background-color: blue;
    color: white;
    padding: 14px 20px;
    margin: 25px 0 0 50px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  } */
  
  .container-aside{
    text-align: center;
  }
  
  form{
    padding-left: 30px;
    text-align: left;
  }
  
  .leftAlignInfoForUser{
    text-align: center;
  }


  /* Icons */
  input[type=submit] {
    width: 450px;
    background-color: red;
    color: white;
    padding: 14px 0px;
    margin: 8px 0 0 30px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-transform: uppercase;
  }

  /* footer */
  .social{ 
    padding: 0px 20% 10px 35%;
  }
  
  .social a {
    
    font-size: 3.5em;
    padding: 2.5rem;
  }
  /* Icons */


  /* user Information */
}


/* Media  tablet*/




/* Media  phone*/
@media (max-width: 576px){


  .leftPadding{
    float: left;
    padding: 10px 0px 0px 0px;
  }
  
  input[type=checkbox] {
    width: 9mm;
    -webkit-appearance: button;
    height: 5mm;
    border: 0.7mm solid black;
  }
  
  .logIn{
    color: white;
    font-size: 15px;
    float: right;
    padding: 3px 20px 0 0;
  }
  

  .toggle{
    display: block;
  }
  .logInAlign{
    float: right;
    font-size: 1.5rem;
    padding-top: 10px;
  }

  .elementAlign{
    height: 160px;
    background:rgb(213, 0, 0);
  }

  .adjustHeader{
    font-size: 1.5rem;
  }

  ul{
    width: 90%;
    display: none;
  }

  ul li{
    display: block;
    text-align: center;
  }

  .active{
    display: block;
  }

  .container-aside{
    text-align: left;
  }
  
  .logAndRegisterBox{
    margin-right: 3%;
  }

  .leftAlignInfoForUser{
    padding-top: 20px;
    margin: 0 0 -2px 0;
    text-align: left;
  }

.buttonHolder{
  margin-left: 5em;
}

  input[type=submit] {
    width: 250px;
    background-color: red;
    color: white;
    padding: 14px 0px;
    margin: 8px 50 0 150px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-transform: uppercase;
  }

  /* footer */
  .social{
    padding: 10px 10% 10px 35%;
  }
  
  .social a {
    
    font-size: 2.5em;
    padding: 2rem;
  }
  /* footer */
}

@media (max-width: 430px){
  
  .walkersLogo{
    position: relative;;
    width: 100px;
    height: 80px;
    position: absolute;
    z-index: 10;
    margin-left: 12em;
    margin-top: -10px;
    border-radius: 50%;
  }
  
  .block{
    width: 150px;
  }

  .carousel-caption {
    display: block;
    position: absolute;
    transform: translateY(-50%);
    margin-top: 11em;
  }
  
  .btn-danger{
    background-color: red;
    border: 1px solid black;
  }
  .btn-danger:hover{
    background-color: green;
    border: 1px solid white;
  }

  .regAndLogin{
    padding: 30px 1em 0 5em;
    text-transform: uppercase;
  }

  h4{
    text-align: center;
    padding: 30px 0 0 3em;
  }

  .logAndRegisterBox{
    margin-right: 3%;
    width: 42rem;
  }
  
  input[type=checkbox] {
    width: 9mm;
    -webkit-appearance: button;
    height: 5mm;
    border: 0.7mm solid black;
  }
  
  .logIn{
    color: white;
    font-size: 12px;
    width: 11ch;
    float: right;
    margin: 2px -16px 0 0;
  }
  

  nav{
    width: 43rem;
  }

  .carousel-inner{
    /* width:  421px; */
    width: 43rem;
    height: 200px;
  }

  input[type=submit] {
    width: 200px;
    background-color: red;
    color: white;
    padding: 14px 0px;
    margin: 18px 10px 0 1rem;
    flex: 1 1 100px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-transform: uppercase;
  }

  /* footer */

  footer{
    bottom:0;
    left: 0;
    right: 0;
    height:60px; 
    width: 43rem;
    height: 250px;
    background-color: darkred;
  }

  .social{ 
    padding: 0px 20% 10px 40%;
  }
  
  .social a {
    font-size: 2.5em;
    margin: 2rem -15px;
  }

  .footerTerms a{
    color: white;
    text-decoration: underline;
    padding:0 0px 0 0;
  }
  .copyRight{
     margin:0 0 0 0px;
  }
}
/* Media  phone*/


/* Start Toggle */
 
.toggle {
    width: 30px;
    padding: 10px;
    float: right;
    background-color: #00BCD4;
    border-radius: 10px;
    margin: 6px;
    cursor: pointer;
    display: none;
  }
  
  .toggle span {
    width: 100%;
    height: 4px;
    background-color: #fff;
    display: block;
    margin-bottom: 3px;
  float: left;
  }


  /* End Toggle */
  

/*---Firefox Bug Fix --*/
.carousel-item {
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
  }
   /* Fixed Background Image  */
   /* figure {
    position: relative;
    width: 100%;
    height: 60%;
    margin: 0!important;
  }
  .fixed-wrap {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  #fixed {
    background-image: url('img/mac.png');
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    will-change: transform;
  }
  /*  Bootstrap Padding Fix  */
  /* [class*="col-"] {
      padding: 1rem;
  } */