.container-footer{
    background-color: rgb(52, 6, 78);
    margin-top: 30px;
    font-size: 18px;
}

svg.svg-inline--fa.fa-facebook.fa-w-14 , svg.svg-inline--fa.fa-github.fa-w-16{
    font-size: 40px;
    color: white;
    margin-top: 20px;
}

.copyRight p {
    color: white;
    padding-bottom: 10px;
    margin-bottom: 0px;
}

p{
    text-align: center;
}


/* Mobile resolution */
@media(max-width:576px){
    .container-footer{
        background-color: rgb(52, 6, 78);
        margin-top: 30px;
        font-size: 1.2rem;
    }
    
    svg.svg-inline--fa.fa-facebook.fa-w-14 , svg.svg-inline--fa.fa-github.fa-w-16{
        font-size: 2.8rem;
        color: white;
        margin-top: 1rem;
    }
    
    .copyRight p {
        color: white;
        padding-bottom: 10px;
        margin-bottom: 0px;
    }
}
