<div id="loginForm">
  <form class="container">
    <h1>Login</h1>
    <div>
      <p>Please fill your email and password!</p>
      <hr>
      <!-- formItem id is to center Email text  -->
      <!-- <div id="formItem"> -->
      <label for="email"><b>Email</b></label>
      <!-- </div> -->
      <input type="text" placeholder="Enter Email" name="email" required>

      <!-- <div id="formItem"> -->
      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>
      <!-- </div> -->

      <button type="submit" class="registerbtn">Login</button>
    </div>

    <div class="container signin">
      <p>Don't have an account? <a href="#/register">Register</a>.</p>
      <h3>Go to previous page <button onclick="goBack()">Go Back</button></h3>
      <h3>Go to Home page <a href="#">Home</a></h3>
    </div>
  </form>
</div>